{% extends 'base.html' %}

{% block content %}
 <!div class="alert alert-warning alert-dismissible fade show\
" role="alert">
    <!h1 class="display-4">TODO LIST</h1>
    </div>
    <div class="container">
    <p class="lead">TODO LISTの更新</p>
  </div>
<form action='' method='POST'>{% csrf_token %}
   <div class="container">
  <p> 内容{{ form.title }} </p>
  <p> メモ: {{ form.memo }} </p>
  <p> 優先度 {{ form.priority }} </p>
  <p> 期日{{ form.duedate }} </p>
    <input type="submit" value='更新する'>
  </div>
</form>
{% endblock content %}
